{% extends 'training_app/base.html' %}

{% block content %}
<h1>LOGIN </h1>

<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}

  <div class="mb-3">
    <label for="inputEmail3" class="form-label">User Name</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="mb-3">
    <label for="inputPassword3" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}