{% extends 'training_app/base.html' %}

{% block content %}
<h1>Sub Courses</h1>

 <table class="table table-striped" align="left">
 <thread>
     <tr>
         <th>No</th>
         <th>Sub-Courses</th>
         {% if user.is_authenticated %}
         <th>Edit</th>
          <th>Delete</th>
         {% endif %}
     </tr>
 </thread>
         {% for x in object_list %}
        <tr align="left">
            <th scope="row">{{ forloop.counter }}</th>
             <td><a href="{% url 'read_sub_course' x.id %}">{{ x.name }}</a> </td>
            {% if user.is_authenticated %}
             <td><a href="{% url 'update_sub_course' x.pk %}">Edit</a> </td>
            <td><a href="{% url 'delete_sub_course' x.pk %}">Delete</a> </td>
            {% endif %}
        </tr>
         {% endfor %}
</table>
{% if user.is_authenticated %}
<strong><a href="{% url 'add-sub-course' %}">Add Sub Course</a></strong>
{% endif %}
{% endblock %}
